Repository fractal-analytics-platform/fractal-paper-2026: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo

prettier:
  name: prettier
  entry: pixi run -e lint prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

Cleanup pixi definition
  pixi.lock
  pyproject.toml
Due: taplo

Add registration_errors condition table
  fractal_paper_2026/add_registration_condition_table.py
  fractal_paper_2026/plate_qc.ipynb
Due: none

Add differentiation timepoints condition table
  fractal_paper_2026/add_registration_condition_table.py
  fractal_paper_2026/plate_qc.ipynb
Due: none

Add differentiation timepoints condition table
  fractal_paper_2026/add_condition_tables.py
Due: none

Simplify Github CI
  .github/workflows/build.yml
  .github/workflows/scorecard.yml
Due: prettier

Update QC notebook & scripts
  fractal_paper_2026/add_condition_tables.py
  fractal_paper_2026/plate_qc.ipynb
Due: none

Add analysis of benchmark run comparison
  fractal_paper_2026/benchmark_comparison_drug_profiling.ipynb
Due: none

Add cardiac diff & drp workflows
  fractal_paper_2026/workflows/cardiac_diff_extra_files/classifiers/NKX25_classifier.clf
  fractal_paper_2026/workflows/cardiac_diff_extra_files/classifiers/NKX25_classifier_v1.clf
  fractal_paper_2026/workflows/cardiac_diff_extra_files/classifiers/Sox17_classifier.clf
  fractal_paper_2026/workflows/cardiac_diff_extra_files/classifiers/TroponinT_classifier.clf
  fractal_paper_2026/workflows/cardiac_diff_extra_files/classifiers/TroponinT_classifier_v1.clf
  fractal_paper_2026/workflows/cardiac_diff_extra_files/classifiers/nanog_classifier.clf
  fractal_paper_2026/workflows/cardiac_diff_extra_files/classifiers/segmentation_qc_classifier.clf
  fractal_paper_2026/workflows/cardiac_diff_extra_files/illum_corr_images/20220621_UZH_manual_illumcorr_40x_A01_C01.png
  fractal_paper_2026/workflows/cardiac_diff_extra_files/illum_corr_images/20220621_UZH_manual_illumcorr_40x_A01_C02.png
  fractal_paper_2026/workflows/cardiac_diff_extra_files/illum_corr_images/20220621_UZH_manual_illumcorr_40x_A02_C03.png
  fractal_paper_2026/workflows/cardiac_diff_extra_files/registration_params/setting_search_14.txt
  fractal_paper_2026/workflows/drp_extra_files/Assaylayout-CyQ-H-SytoxR.csv
  fractal_paper_2026/workflows/drp_extra_files/BVC-test-data-CyQ-classifier
  fractal_paper_2026/workflows/drp_workflow.json
Due: none

Update README
  README.md
Due: prettier

Add Figure dataset and quarto markdown notebook
  fractal_paper_2026/drp_analysis/Fig_DRP.md
  fractal_paper_2026/drp_analysis/Fig_DRP.qmd
  fractal_paper_2026/drp_analysis/dataset/drug_logAUC.csv
  fractal_paper_2026/drp_analysis/dataset/viability_measurement.csv
  fractal_paper_2026/drp_analysis/dataset/viability_prediction.csv
  fractal_paper_2026/drp_analysis/plots/distribution-1.png
  fractal_paper_2026/drp_analysis/plots/viability-1.png
Due: prettier

Create .prettierignore
  .prettierignore
Due: none

Don't prettify Fig_DRP.md
  .prettierignore
Due: none

update drp intro text to refer to Fractal workflow
  fractal_paper_2026/drp_analysis/Fig_DRP.md
  fractal_paper_2026/drp_analysis/Fig_DRP.qmd
Due: prettier

Add pixi config to run quarto notebook
  README.md
  fractal_paper_2026/drp_analysis/Fig_DRP.md
  pixi.lock
  pyproject.toml
Due: prettier, taplo

Part 3D Multiplexed Abbott
  .gitattributes
  .gitignore
  fractal_paper_2026/multiplex3d_abbott/fig4c_zfish_grid_multiplexing.ipynb
  fractal_paper_2026/multiplex3d_abbott/fig4d_zfish_segmentation.ipynb
  fractal_paper_2026/multiplex3d_abbott/fig4ef_umap_clustering.ipynb
  fractal_paper_2026/multiplex3d_abbott/utils.py
  fractal_paper_2026/workflows/workflow-temp_3d_multiplexed_abbott.json
  pixi.lock
  pyproject.toml
Due: taplo

Aggregate cell counts by condition
  fractal_paper_2026/drp_analysis/.env.example
  fractal_paper_2026/drp_analysis/1_DRP_cell_counting.ipynb
  pyproject.toml
Due: taplo

Update pixi.lock
  pixi.lock
Due: none

Update pyproject.toml
  pyproject.toml
Due: taplo

Fix lock file mismatch
  pixi.lock
Due: none

Update cardiac notebooks: Additional cycles & QC
  .vscode/settings.json
  fractal_paper_2026/cardiac_diff_analysis/cardiac_diff_analysis_plots.ipynb
  fractal_paper_2026/cardiac_diff_analysis/plate_qc.ipynb
Due: none

add workflow and code for figure 6
  fractal_paper_2026/light_sheet_analysis/figure6_BC.py
  fractal_paper_2026/light_sheet_analysis/figure6_DE.py
  fractal_paper_2026/light_sheet_analysis/organoid_bounding_boxes.py
  fractal_paper_2026/workflows/light_sheet_workflow.json
Due: none

Minor updates
  fractal_paper_2026/drp_analysis/1_DRP_cell_counting.ipynb
  fractal_paper_2026/drp_analysis/benchmark_comparison_drug_profiling.ipynb
  pixi.lock
  pyproject.toml
Due: taplo

adjust paths
  fractal_paper_2026/light_sheet_analysis/figure6_BC.py
  fractal_paper_2026/light_sheet_analysis/figure6_DE.py
  fractal_paper_2026/light_sheet_analysis/organoid_bounding_boxes.py
Due: none

Run pre-commit and add Ruth as repo author
  fractal_paper_2026/multiplex3d_abbott/utils.py
  pixi.lock
  pyproject.toml
Due: taplo

Update cardiac workflow & add cardiac plots
  fractal_paper_2026/cardiac_diff_analysis/figs/percent_positive_over_time.pdf
  fractal_paper_2026/cardiac_diff_analysis/figs/percent_positive_over_time.png
  fractal_paper_2026/cardiac_diff_analysis/figs/umap_day_viridis.pdf
  fractal_paper_2026/cardiac_diff_analysis/figs/umap_day_viridis.png
  fractal_paper_2026/cardiac_diff_analysis/figs/umap_nanog.pdf
  fractal_paper_2026/cardiac_diff_analysis/figs/umap_nanog.png
  fractal_paper_2026/cardiac_diff_analysis/figs/umap_nkx25.pdf
  fractal_paper_2026/cardiac_diff_analysis/figs/umap_nkx25.png
  fractal_paper_2026/cardiac_diff_analysis/figs/umap_sox17.pdf
  fractal_paper_2026/cardiac_diff_analysis/figs/umap_sox17.png
  fractal_paper_2026/cardiac_diff_analysis/figs/umap_troponinT.pdf
  fractal_paper_2026/cardiac_diff_analysis/figs/umap_troponinT.png
  fractal_paper_2026/workflows/cardiac_diff_extra_files/classifiers/NKX25_classifier_v1.clf
  fractal_paper_2026/workflows/cardiac_diff_extra_files/classifiers/TroponinT_classifier.clf
  fractal_paper_2026/workflows/cardiac_diff_extra_files/classifiers/TroponinT_classifier_v1.clf
  fractal_paper_2026/workflows/cardiac_diff_workflow.json
Due: none

added registration params; updated workflow
  fractal_paper_2026/workflows/multiplex3d_abbott_extra_files/registration_params/channelparams_similarity_level1.txt
  fractal_paper_2026/workflows/multiplex3d_abbott_extra_files/registration_params/params_affine_level1.txt
  fractal_paper_2026/workflows/multiplex3d_abbott_extra_files/registration_params/params_bspline_level1.txt
  fractal_paper_2026/workflows/multiplex3d_abbott_extra_files/registration_params/params_rigid_level1.txt
  fractal_paper_2026/workflows/workflow-temp_3d_multiplexed_abbott.json
  pixi.lock
Due: none

Add pixi config for lightsheet figure & add lightsheet figures
  README.md
  fractal_paper_2026/light_sheet_analysis/figs/n14_timecourse_3d.png
  fractal_paper_2026/light_sheet_analysis/figs/n14_timecourse_3d_crp.png
  fractal_paper_2026/light_sheet_analysis/figs/n14_timecourse_3d_only_labels.png
  fractal_paper_2026/light_sheet_analysis/figs/n14_timecourse_3d_only_labels_crp.png
  fractal_paper_2026/light_sheet_analysis/figs/n14_timecourse_3d_only_labels_wbg.png
  fractal_paper_2026/light_sheet_analysis/figs/n14_timecourse_3d_only_labels_wbg_crp.png
  fractal_paper_2026/light_sheet_analysis/figs/n14_timecourse_3d_with_labels.png
  fractal_paper_2026/light_sheet_analysis/figs/n14_timecourse_3d_with_labels_crp.png
  fractal_paper_2026/light_sheet_analysis/figs/panelA.png
  fractal_paper_2026/light_sheet_analysis/figs/panelA_supplementary.png
  fractal_paper_2026/light_sheet_analysis/figs/panelB.png
  fractal_paper_2026/light_sheet_analysis/figure6_BC.py
  fractal_paper_2026/light_sheet_analysis/figure6_DE.py
  pixi.lock
  pyproject.toml
Due: prettier, taplo

Add Max to pyproject.toml authors & rename workflow
  fractal_paper_2026/workflows/light_sheet_workflow.json
  pixi.lock
  pyproject.toml
Due: taplo

Fix pre-commit + pixi.lock interaction
  .pre-commit-config.yaml
Due: prettier

Path conditions:
  prettier: any of: \.(md|yml|yaml)$, but not: ^(\.copier-answers\.yml)|.pixi$
  taplo: any of: \.toml$, but not: ^(\.copier-answers\.yml)|.pixi$
